torch
torchvision
numpy
matplotlib
dlai-grader
scikit-learn
jupyter
ipywidgets==8.0.2
torchmetrics
torchinfo
tqdm
transformers
diffusers
huggingface_hub
sentencepiece
accelerate
protobuf
scikit-image
opencv-python
imageio[ffmpeg]
onnx
onnxruntime
datasets
pandas
seaborn
